---
import StaticCollectionLookup from "../misc/StaticCollectionLookup.astro";
import { StaticCollectionLookupF } from "../../lib/StaticCollectionLookupFunction";
import { getCollection } from "astro:content";

const education = await getCollection("education");
const education_providers = await getCollection("education_providers");
---
{education.map((edu) => (
    <div class="w-full pr-4 py-2">
        <div class="flex w-full">
            <img class="h-10 w-fit md:h-15 lg:h-20 mt-6" loading="lazy"  
                src={StaticCollectionLookupF(education_providers, (edu.data.provider as string[])[0], "id", "logo_link")} 
                alt={StaticCollectionLookupF(education_providers, (edu.data.provider as string[])[0], "id", "name")}
            />
            <div class="pl-4 w-full">
                <div class="flex items-center justify-between">
                    <div>
                        <h3 class="text-lg font-semibold">{edu.data.title}</h3>
                        <h4 class="text-sm">
                            <a href={StaticCollectionLookupF(education_providers, (edu.data.provider as string[])[0], "id", "link")} target="_blank" rel="noopener noreferrer">
                                <StaticCollectionLookup collection={education_providers} lookupValue={(edu.data.provider as string[])[0]} resultKey="name"/>
                            </a>
                        </h4>
                    </div>
                    <p class="text-sm">
                        {`${edu.data.start_date?.toLocaleString('default', { month: 'long'})} ${edu.data.start_date?.getFullYear()}`}
                        -
                        {edu.data.end_date ? 
                            `${edu.data.end_date.toLocaleString('default', { month: 'long'})} ${edu.data.end_date.getFullYear()}`
                        : `Present`}
                    </p>
                </div>
                <p class="invisible md:visible lg:visible">{edu.data.description}</p>
            </div>
        </div>
    </div>
))}