---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import CodeIcon from "../assets/icons/code.svg";
import LinkIcon from "../assets/icons/link.svg";
import DocsIcon from "../assets/icons/docs.svg";

const projects = await getCollection("favourite_projects");
const all_projects = await getCollection("projects");
const technologies = await getCollection("technologies");

---
<section id="projects" class="bg-s2 min-h-screen max-h-fit px-5">
    <h2 class="text-5xl font-bold text-center py-5">Projects</h2>
    <section>
        <div class="text-center">
            <h3 class="text-4xl font-semibold py-5">What technologies make up my projects?</h3>
            <p class="text-lg pb-2">
                This includes all the projects my little database knows about, not just the featured ones
            </p>
        </div>
        <div class="flex flex-col gap-2">
            {technologies.map((tech) => (
                <div class="p-1 rounded-full border-white border-2" style={{backgroundColor: tech.data.colour, width: `${100 / all_projects.length * (tech.data.projects as string[]).length}%`}}>
                    <h2 class="pl-4 text-2xl">{tech.data.id}: {(tech.data.projects as string[]).length}</h2>
                </div>
            ))}
        </div>
    </section>
    <section>
        <div class="text-center">
            <h3 class="text-4xl font-semibold py-5">Some of my chosen projects:</h3>
            <p class="text-lg">
                While I like all my projects, some of them are more special to me than others. Here are some of my favourite projects that I have worked on and finished.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pt-4 gap-5 text-black">
            {projects.map((project) => (
                <div class="bg-gray-100 p-5 rounded-md">
                    <div class="flex flex-col gap-3 justify-between h-full">
                        <div>
                            <img src={project.data.preview_image_link ? project.data.preview_image_link : "https://placehold.co/500x300?text=Image+Unavaliable"} alt={project.data.name} class="rounded-lg object-fill" />
                        </div>
                        <div class="grow">
                            <h2 class="text-3xl">{project.data.name}</h2>
                            <p>{project.data.description}</p>
                            <div class="grid grid-cols-2 gap-3">
                                {(project.data.technologies as string[]).map((tech) => (
                                    <p class="p-2 text-white rounded-lg text-center" style={{backgroundColor: technologies.find((data) => data.id == tech)?.data.colour}}>{technologies.find((data) => data.id == tech)?.data.id}</p>
                                ))}
                            </div>
                        </div>
                        <div class="flex justify-end gap-3">
                            {project.data.source_control ? <a href={project.data.source_control} target="_blank" rel="noopener noreferrer"><Image src={CodeIcon} height="32" width="32" alt="Source"/></a> : null}
                            {project.data.demo ? <a href={project.data.demo} target="_blank" rel="noopener noreferrer"><Image src={LinkIcon} height="32" width="32" alt="Demo"/></a> : null}
                            {project.data.documentation ? <a href={project.data.documentation} target="_blank" rel="noopener noreferrer"><Image src={DocsIcon} height="32" width="32" alt="Documentation"/></a> : null}
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </section>
</section>