---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import CodeIcon from "../assets/icons/code.svg";
import LinkIcon from "../assets/icons/link.svg";
import DocsIcon from "../assets/icons/docs.svg";

const projects = await getCollection("projects");
const technologies = await getCollection("technologies");

---
<section id="projects" class="bg-s2 min-h-screen max-h-fit px-5">
    <h2 class="text-5xl font-bold text-center py-5">Projects</h2>
    <div class="grid grid-cols-3 pt-4 gap-5 text-black">
        {projects.map((project) => (
            <div class="bg-gray-100 p-5 rounded-md">
                <div class="flex flex-col gap-3 justify-between">
                    <img src={project.data.preview_image_link ? project.data.preview_image_link : "https://placehold.co/300x200?text=Image+Unavaliable"} alt={project.data.name} class="rounded-lg w-full" />
                    <h2 class="text-3xl">{project.data.name}</h2>
                    <p>{project.data.description}</p>
                    <div class="grid grid-cols-2 gap-3">
                        {(project.data.technologies as string[]).map((tech) => (
                            <p class="p-2 text-white rounded-lg text-center" style={{backgroundColor: technologies.find((data) => data.id == tech)?.data.colour}}>{technologies.find((data) => data.id == tech)?.data.id}</p>
                        ))}
                    </div>
                    <div class="flex justify-end gap-3">
                        {project.data.source_control ? <a href={project.data.source_control} target="_blank" rel="noopener noreferrer"><Image src={CodeIcon} height="32" width="32" alt="Source"/></a> : null}
                        {project.data.demo ? <a href={project.data.demo} target="_blank" rel="noopener noreferrer"><Image src={LinkIcon} height="32" width="32" alt="Demo"/></a> : null}
                        {project.data.documentation ? <a href={project.data.documentation} target="_blank" rel="noopener noreferrer"><Image src={DocsIcon} height="32" width="32" alt="Documentation"/></a> : null}
                    </div>
                </div>
            </div>
        ))}
    </div>
</section>